body {
  background: gray;
}
#canvas {
  // background-color: green;
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_wireframe2.png") ;
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_wireframe3_test.png") no-repeat ;
  // background: url("https://creatr-seed.s3.amazonaws.com/Guardian_cleangrid.png");
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid4.png");
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid5.png");
  background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid6.png");
  border: 2px solid black;
  border-radius: 5px;
  height: 750;
  width: 2100;
}

#mainTitle {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 50px;
}