body {
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_wireframe2.png");
  background-color: #000024;
  font-family: 'Nanum Pen Script', cursive;
  font-size: xx-large;
  color: white;
}
#canvas {
  font-family: 'Nanum Pen Script', cursive;
  // background-color: green;
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_wireframe2.png") ;
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_wireframe3_test.png") no-repeat ;
  // background: url("https://creatr-seed.s3.amazonaws.com/Guardian_cleangrid.png");
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid4.png");
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid5.png");
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid6.png") no-repeat ;
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid8.png") no-repeat ;
  // background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid9.png") no-repeat ;
  background: url("https://creatr-seed.s3.amazonaws.com/guardian_emoji_grid10.png") no-repeat ;
  border: 2px solid white;
  border-radius: 10px;
  height: 750;
  width: 2100;
}


#turret {
  display: none;
}

#wolf {
  display: none;
}

#tankShootR {
  display: none;
}